/* font-family: "Inter", sans-serif; */
/* font-family: "Manrope", sans-serif; */
/* font-family: "Poppins", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Variables */
:root {
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Inter", sans-serif;
  --footerFont: "Manrope", sans-serif;
  --titleColor: #3a3a3a;
  --btnColor: #e02c6d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primaryFont);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Global Classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 10px 24px;
  background: var(--btnColor);
  color: #ffffff;
  font-family: var(--primaryFont);
  font-weight: bold;
  border: none;
  border-radius: 40px;
}

/* Container */
.container {
  max-width: 1224px;
  margin: 0 auto;
}

/* HEADER AND NAV SECTION */

#mobile-header {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

header nav ul {
  min-width: 465px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--titleColor);
}

header nav ul li:hover a {
  color: var(--btnColor);
}

/* HERO SECTION */
#hero {
  min-height: 100vh;
}

#hero .hero-content {
  margin-left: 16px;
  max-width: 590px;
}

#hero .hero-content .hero-title {
  color: var(--titleColor);
  font-size: 52px;
  font-weight: bold;
  line-height: 64px;
  margin-bottom: 16px;
}

#hero .hero-content .hero-para {
  max-width: 505px;
  color: var(--titleColor);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* PRODUCTS SECTION  */
#products-listing {
  max-width: 1048px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#products-listing h3 {
  color: var(--titleColor);
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 30px;
}

#products-listing .product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

/* Card */
#products-listing .product-cards .card {
  max-width: 329px;
  max-height: 476px;
  padding: 16px;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

#products-listing .product-cards .card-details {
  margin-top: 16px;
}

#products-listing .product-cards .card-details .card-title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

#products-listing .product-cards .card-details .card-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--secondaryFont);
  font-size: 24px;
  font-weight: normal;
  line-height: 150%;
}

#products-listing .product-cards .card-details .card-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 125px;
}

#products-listing .product-cards .card-details .card-rating .stars .fas {
  font-size: 12px;
  color: #fb8200;
}

#products-listing .product-cards .card-details .card-rating p {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 22px;
  padding-top: 5px;
}

#products-listing .product-cards .card-details .card-para {
  max-width: 225px;
  color: #787885;
  font-family: var(--secondaryFont);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.018em;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 24px;
}

#products-listing .see-more {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#products-listing .see-more a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
  min-width: 100px;
}

/* NEWSLETTER SECTION */
#newsletter {
  min-width: 1110px;
  min-height: 400px;
  background: #c4c4c4;
  border-radius: 5px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFont) !important;
}

#newsletter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newsletter h2 {
  color: var(--titleColor);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#newsletter p {
  color: #6c6c6c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

#newsletter .email-sub {
  max-width: 640px;
}

#newsletter .email-sub input[type="email"] {
  border: 1px solid #fff;
  border-radius: none;
  padding: 20px;
  width: 450px;
  height: 55px;
  font-family: var(--primaryFont);
  font-weight: 500;
  color: var(--titleColor);
  font-size: 18px;
}

#newsletter .email-sub input[type="email"]:hover {
  border: 1px solid var(--btnColor);
}

#newsletter .email-sub input[type="email"]::placeholder {
  color: #828181;
  font-family: var(--primaryFont);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

#newsletter .email-sub input[type="button"] {
  border: none;
  border-radius: none;
  width: 190px;
  height: 55px;
  margin-left: -5px;
  background: var(--titleColor);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  transition: all 0.6s ease;
}

#newsletter .email-sub input[type="button"]:hover {
  background: var(--btnColor);
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #0a0826;
  color: #fff;
  min-height: 239px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

footer h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

footer p {
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}

footer .socials {
  min-width: 175px;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TABLET LAYOUT */
@media (max-width: 991.98px) {
  .container {
    max-width: 784px;
  }

  /* HEADER */
  header {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  header nav ul {
    margin-top: 20px;
  }

  /* HERO SECTION */
  #hero {
    min-height: 0;
    margin-bottom: 90px;
  }

  #hero.flex {
    flex-direction: column-reverse;
  }

  #hero .hero-img img {
    width: 300px;
    height: 300px;
    margin-bottom: 14px;
  }

  #hero .hero-content {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }

  #hero .hero-content .hero-title {
    font-size: 30px;
    line-height: 36px;
  }

  #hero .hero-content .hero-para {
    font-size: 15px;
    margin-bottom: 20px;
  }

  /* PRODUCTS SECTION  */
  #products-listing {
    max-width: 675px;
  }

  #products-listing h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  #products-listing .product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  /* Card */
  #products-listing .product-cards .card {
    padding: 15px;
  }

  /* NEWSLETTER SECTION */
  #newsletter {
    min-width: 780px;
  }

  #newsletter h2 {
    font-size: 30px;
  }
}

/* MOBILE LAYOUT */
@media (max-width: 575.98px) {
  .container {
    max-width: 328px;
  }

  /* HEADER */
  #desktop-header {
    display: none;
  }

  #mobile-header {
    display: block;
    margin-bottom: 28px;
  }

  #mobile-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-header nav img {
    width: 28px;
  }

  #mobile-header nav .logo img {
    width: 160px;
  }

  /* HERO SECTION */
  #hero {
    margin-bottom: 50px;
  }

  #hero .hero-img img {
    width: 257px;
    height: 257px;
  }

  #hero .hero-content .hero-title {
    font-size: 28px;
    line-height: 36px;
  }

  #hero .hero-content .hero-para {
    font-size: 14px;
  }

  /* PRODUCTS SECTION  */
  #products-listing {
    max-width: 100%;
  }

  #products-listing h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  #products-listing .product-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* NEWSLETTER SECTION */
  #newsletter {
    min-width: 328px;
  }

  #newsletter h2 {
    max-width: 280px;
    font-size: 20px;
  }

  #newsletter p {
    max-width: 300px;
    font-size: 15px;
    margin-bottom: 50px;
  }

  #newsletter .email-sub {
    max-width: 100%;
  }

  #newsletter .email-sub input[type="email"] {
    padding: 10px;
    width: 180px;
    height: 40px;
    font-size: 14px;
  }

  #newsletter .email-sub input[type="email"]::placeholder {
    font-size: 14px;
    font-weight: 400;
  }

  #newsletter .email-sub input[type="button"] {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}
